body {
	background-color: hsl(71, 50%, 66%);
	color: aliceblue;
	padding: 0%;
	margin: 0%;

}
.asos {
	border: 2px solid rgb(33, 7, 151);
	padding: 115px 25px;
	background-image: url(./HALA\ MADRID.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
.div1 {
	border: 2px solid rgb(197, 13, 22);
	padding: 215px 15px;
	margin: 25px;
	text-align: center;
	background-image: url(./CURTUWAR.jpg);

}
.div2 {
	border: 2px solid rgb(102, 255, 0);
	padding: 115px 25px;
  text-align: center;
	margin: 30px;
	background-image:url(./BELINGHAM.jpg)
}
.div3 {border: 2px solid rgb(2, 23, 87)	;
	padding: 110px 25px;
	text-align: center;
	background-image: url(./MBAPPE.jpg);

}
.div4 { border: 2px solid rgb(102, 255, 0);
	padding: 115px 25px;
  text-align: center;
	margin: 30px;
	background-image:url(./arda\ guler.jpg) ;

	
}
.div5 {border: 2px solid rgb(102, 255, 0);
	padding: 115px 25px;
  text-align: center;
	margin: 30px;
	background-image: url(./Camavinga.jpg);

}
.div5 {border: 2px solid rgb(102, 255, 0);
	padding: 115px 25px;
  text-align: center;
	margin: 30px;
	background-image: url(./vini\ jr.jpg);

}